# Node.js
node_modules/
.pnp/
.pnp.js
.pnp.cjs
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn

.vscode

# Next.js
.next/
.vercel/
*.env.local
.env.local
.env*.local

# TypeScript
*.tsbuildinfo
dist/

# Logs
*.log

# IDEs
.idea
